.card {
  background-color: var(--color-white);
  box-shadow: var(--shadow);
  color: inherit;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  &__content {
    height: 100%;
    padding: var(--spacer-4);
    @include vstack;
    gap: var(--element-spacer);
  }
  &__link {
    color: var(--color-primary);
    font-weight: bold;
    margin-top: auto;
    display: flex;
    align-items: center;
  }
}
