body#tinymce {
  margin: var(--element-spacer);
  //fix button styles in admin panel when button is focused
  .button[data-mce-selected] {
    margin: 0;
    padding: var(--button-py) var(--button-px);
    box-shadow: none;
    color: var(--color-text);
    border-color: transparent;
  }
}
